---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14q1YEKfdk94pjLtlB3nrJaE&description=Sign%20up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_1ltOTm33PzESx21LO6kPOmYM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14q1YGKfdk94pjLtpv2eef4H",
          "object": "charge",
          "created": 1413893748,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14q1YEKfdk94pjLt6wvuSi0g",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "h0WyAKskvzUGQV3g",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14q1YGKfdk94pjLtpv2eef4H/refunds",
            "data": []
          },
          "balance_transaction": "txn_14q1YGKfdk94pjLtjckVXdu9",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for john@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null
        }
  recorded_at: Tue, 21 Oct 2014 12:15:48 GMT
recorded_with: VCR 2.9.3
