---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=40000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_1ltOTm33PzESx21LO6kPOmYM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14pzYIKfdk94pjLtHCJ3tzNb",
          "livemode": false,
          "created": 1413886062,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14pzYIKfdk94pjLteXwrzITE",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "6hPRHQPc5Rmf4g3N",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Tue, 21 Oct 2014 10:07:42 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14pzYIKfdk94pjLtHCJ3tzNb&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_1ltOTm33PzESx21LO6kPOmYM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-10-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined. Your request was in test mode, but used a non test card. For a list of valid test cards, visit: https://stripe.com/docs/testing.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14pzYJKfdk94pjLtwdIwDyPO"
          }
        }
  recorded_at: Tue, 21 Oct 2014 10:07:43 GMT
recorded_with: VCR 2.9.3
